@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
/* globals.css */
body {
  font-family: "Roboto Condensed", sans-serif;
}

button {
  color: white;
}
.slick-slide {
  padding: 0 5px; /* Har bir elementning chap va o'ng tomonida 5px bo'sh joy */
}

.slick-list {
  margin: 0 -5px; /* Bo'sh joyni to'g'ri joylashtirish uchun */
}